venv/
__pycache__/
*.pyc
.ipynb_checkpoints/
backend/data/raw/*.csv
backend/data/processed/*.csv
backend/data/processed/*.jsonl
backend/models/*/
backend/reports/audio_outputs/*.mp3
*.env
.DS_Store
backend/requirements.txt
backend/.env